<h1>Welcome to My Inventory Management System!</h1>

<h2><%= link_to "View Items", items_path %> | <%= link_to "View Warehouses", warehouses_path %></h2>

<p>To add inventory, first create an item using the link on the Item Index page.</p>
<p>Then navigate to the appropriate Warehouse, and then click the link at the top to Add Inventory.</p>


